 @media screen and (min-width: 550px) and (max-width: 991px) { 
    .section-top{
       width:  82.88vw;
       padding: 0;
    }

    .section-top-logo{
        width: 67px;
        height: 40px;
    }
    .section-top-menu{
        height: 90px;
    }
    .section-top-menu img{
        width: 13px;
        height: 13px;
    }
    .section-top-menu p{
        font-size: 13px;
        line-height: 13.5px;
    }
     .section-top-title{
        font-size: 9.86vw;
        line-height: 10vw;
        /* height: 100px; */
    }
     
    
    .section-top-text{
        font-size: 2.66vw;
        line-height: 4vw;

    }
    .section-top-film{
        width: 90%;
        display: block;
    }
    .section-top-film-left{
        width: 100%;
        min-width: 258px;
        min-width: 345px;
    }
     .section-top-film-right{
        width: 100%;
        display: flex;
        justify-content: end;
    }
    .section-top-film-right img{
        width: 180px;
        height: 195px;
        
     }
     
     .blue-box{
        width: 60vw;
        height: 28vw;
        padding: 10px;
        margin: 30px auto;
     }
     .blue-box .content{
       font-size: 2.93vw;
        line-height: 3.81vw;
        width: 56vw;
    }
    
    .blue-box .author{
         font-size: 2.66vw;
        line-height: 4.16vw;
    } 
    .section-top-course{
        padding: 0;;
        margin-top: 40px;
        margin-bottom: 20px;
        /* height: 500px; */
        height: 137vw;
        max-height: 930px;
        /* min-height: 935px;  */
        /* min-height: ; */
    }
    .section-top-course-common{
        flex-direction: column;
        height: 650px;
    }
    /* .section-top-course .title{
        font-size: 30px;
        line-height: 26px;
    } */
    .section-top-course-left{
        width: 100%;
    }
    .section-top-course-left .text{
        font-size: 3.2vw;
        line-height: 4.8vw;
    }
    .section-top-course-right{
      display: flex;
      justify-content: center;
    }
    .section-top-course-right img{
        width: 190px;
        height: 180px;  
        /* margin-top: 5vw;  */
        margin-bottom: 5vw;
    }
    .section-top-course-details{
        /* margin-top: 30px; */
        width: 53vw;
        height: 220px;
        max-width: 520px;
        flex-wrap: wrap;
    }
    .section-top-course-details img{
        display: none;
    }
    .section-top-course-details div{
        width: 25vw;
    }
    .section-top-course-details div .title{
        padding: 5px 0;
        font-size: 3.2vw;
        line-height: 4.16vw;
        height: 18px; 
    }
    .section-top-course-details div .content{
        padding: 3px 0;
        /* margin-top: 0;  */
        font-size: 2.66vw;
        line-height: 3.46vw;
        /* height: 18px;  */
    }
    .class-details h1{
        margin: 15px 0;
        padding-top: 20px;
        font-size: 6.93vw;
        line-height: 7.02vw;
        height: 80px;
    }
    .class-format{
        flex-direction: column;
        width: 85%;
        height: 61vw;
        margin-bottom: 60px;
    }
    .class-format div{
        width: 42.4vw;
        margin-top: 30px;
    }
    .class-format .title{
        font-size: 3.2vw;
        line-height: 4.16vw;
    }
    .class-format .content{
        font-size: 2.66vw;
        line-height: 3.46vw;
    }
} 