@media screen and (min-width: 320px) and (max-width: 550px) {

    .section-top{
        padding: 0;
        margin: 0 auto;
        width: 80%;
        /* max-width: 600px; */
    }
    .section-top-logo{
        width: 52px;
        height: 30px;
        margin-top: 35px;
    }
    .section-top-menu{
        height: 66px;
    }
    .section-top-menu img{
        width: 10px;
        height: 10px;
    }
    .section-top-menu p{
        font-size: 2.66vw;
        line-height: 11.5px;
        margin-left: 5px;
        margin-right: 15px;
        height: 15px;
    }
    .section-top-title{
        
        font-size: 9.86vw;
        line-height: 10vw;
        padding-top: 10px;
        box-sizing: border-box;
        height: 25vw;
        margin-top: 10px;
    }
    .section-top-text{
        width: 95%;
        font-size: 2.66vw;
        line-height: 4vw;
        height: 62px;
    }
    .section-top-film{
        width: 90%;
        flex-direction: column;
    }
    .section-top-film-left{
        width: 100%;
        /* min-width: 258px; */
    }
    .section-top-film-right{
        width: 100%;
        display: flex;
        justify-content: end;
    }
    .section-top-film-right img{
        width: 180px;
        height: 195px;
        
     }
     .blue-box{
        width: 60vw;
        height: 24.85vw;
        padding: 10px;
        margin: 30px auto;
     }
     .blue-box .content{
        font-size: 2.93vw;
        line-height: 3.81vw;
        font-weight: 400;
        width: 53.33vw;
    }
    .blue-box .author{
        font-size: 2.66vw;
        line-height: 4.16vw;
    }
    .section-top-course{
        padding: 0;;
        margin-top: 40px;
        height: 137vw;
        max-height: 665px;
    }
    .section-top-course-common{
        flex-direction: column;
        height: 400px;
    }
    .section-top-course .title{
        font-size: 6.93vw;
        line-height: 6.93vw;
    }
    .section-top-course-left{
        width: 100%;
    }
    .section-top-course-left .text{
        font-size: 3.2vw;
        line-height: 4.8vw;
    }
    .section-top-course-right{
      display: flex;
      justify-content: center;
    }
    .section-top-course-right img{
        width: 170px;
        height: 160px;   
    }
    .section-top-course-details{
        /* margin-top: 30px; */
        width: 70%;
        height: 150px;
        /* max-width: 269px; */
        min-width: 240px;
        flex-wrap: wrap;
    }
    .section-top-course-details img{
        display: none;
    }
    .section-top-course-details div{
        width: 120px;
    }
    .section-top-course-details div .title{
        padding: 3px 0;
        font-size: 3.2vw;
        line-height: 4.16vw;
        /* height: 18px; */
    }
    .section-top-course-details div .content{
        padding: 0 ;
        margin-top: 0;
        font-size: 2.66vw;
        line-height: 3.46vw;
        /* height: 18px; */
    }
    .class-details h1{
        padding-top: 20px;
        font-size: 6.93vw;
        line-height: 7.02vw;
        height: 43px;
    }
    .class-format{
        flex-direction: column;
        width: 75%;
        height: 71vw;
        margin-bottom: 40px;
    }
    .class-format div{
        width: 48vw;
        margin-top: 30px;
    }
    .class-format .title{
        font-size: 3.2vw;
        line-height: 4.16vw;
    }
    .class-format .content{
        font-size: 2.66vw;
        line-height: 3.46vw;
    }
}