@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Roboto Slab", serif; */
/* font-family: "Roboto", sans-serif; */

*{
    padding: 0;
    margin: 0;
}
.section-top{
    width: 90%;
    margin: 0 auto;
    padding: 0 38px 0 38px;
    box-sizing: border-box;
}
.section-top-menu{
    height: 126px;
    display: flex;
    align-items: end;
}
.section-top-logo{
    width: 112px;
    height: 66px;
    margin-top: 21px;
}
.section-top-menu img{
    width: 22px;
    height: 21px;
    display: inline-block;
}
.section-top-menu p{
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    font-family: "Roboto", sans-serif;
    display: inline-block;
    margin-left: 8px;
    margin-right: 25px;
}
.section-top-title{
    margin-top: 29px;
    font-size: 80px;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    width: 100%;
    line-height: 81px;
    height: 190px;
}
.section-top-text{
    width: 80%;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    height: 62px;
}
.section-top-film{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.section-top-film-left{
    width: 57%;
}
.section-top-film-right{
    width: 30%;
}
.section-top-film-right img{
   width: 100%;
   height: 356px;
}
.blue-box{
    background-color: #1E4681;
    width: 480px;
    color: white;
    height: 200px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    margin: 60px auto;
    /* margin:0 auto; */
}
.blue-box .content{
    font-size: 25px;
    font-weight: 400;
    width: 430px;
    font-family: "Roboto Slab", serif;
}
.blue-box .author{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: right;
}
.section-top-course{
    margin-top: 80px;
    padding-top: 80px;
}
.section-top-course-common{
    display: flex;
    width: 95%;
    height: 480px;
    justify-content: space-between;
}
.section-top-course-left{
    width: 59%;
}
.section-top-course .title{
    font-size: 55px;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    margin-bottom: 30px;
}
.section-top-course-left .text{
    font-size: 24px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 40px;
}
.section-top-course-right img{
    width: 366px;
    height: 315px;
    margin-top: 36px;
   
}
.section-top-course-details{
    height: 340px;
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center ;
}
.section-top-course-details img{
    width: 232px;
    margin-right: 40px;
}
.section-top-course-details div{
    width: 160px;
}
.section-top-course-details div .title{
    font-size: 25px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    line-height: 32px;
    padding: 5px;
}
.section-top-course-details div .content{
    padding: 0 5px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 23.4px;
    margin-top: 10px;
}
.class-details h1{
    padding: 40px 0 0 0;
    height: 150px;
    font-size: 55px;
    font-weight: 700;
    height: 200px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif; 
}
.class-format{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 220px;
}
.class-format div{
    width: 260px;
}
.class-format .title{
    padding: 7px 0;
    font-size: 25px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: #1E4681;
}
.class-format .content{
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
  
   /* css code of section-middle -------------------------------------------------------------------*/ 

 @media screen and (min-width: 1280px) and (max-width: 1440px) {

 }


  
  
 @media screen and (min-width: 1281px) and (max-width: 1440px) 

{
        
    .section-ahmad{
        width: 88.26vw;
        margin: 0 auto;
    }
    .article {
        margin-left: 2.56vw;
    }
    .what-we-know {
        font-family: "Roboto Slab", serif;
        font-size: 3.81vw;
        font-weight: 700;
    }
    ul {
        width: 48.54vw;
        height: 25.97vw;
        margin-left: 1.38vw;
        margin-top: 3.81vw;
        margin-bottom: 17.22vw;
    }
    li {
        font-family: "Roboto", sans-serif;
        font-size: 1.66vw;
        font-weight: 400;
        line-height: 2.5vw; 
    }
    .course-program {
        font-family: "Roboto Slab", serif;
        font-size: 3.81vw;
        font-weight: 700;
        margin-bottom: 6.59vw;
    }
    .parent {
        width: 100%;
        height: 74.3vw;
        display: flex;
        flex-wrap: wrap;
    }
    .child {
        margin: 0px 0px 2.84vw;
        width: 27.70vw;
        height: 22.77vw;
        background-color: white;
        box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.25);
        border-radius: 2.08vw;
    }
    .margin {
        margin: 0px 2.56vw 2.84vw;
    }
    .child-img{
        width: 100%;
        height: 11.875vw;
    }
    img {
        width: 100%;
    }
    .child-header {
        font-family: "Roboto", sans-serif;
        font-size: 2.08vw;
        font-weight: 700;
        width: 25.34vw;
        height: 4.93vw;
        margin: 0px 0.97vw 0px 1.38vw;
    }
    .child-article {
        font-family: "Roboto", sans-serif;
        font-size: 1.73vw;
        font-weight: 400;
        width: 25.34vw;
        height: 5.97vw; 
        margin: 0px 0.97vw 0px 1.38vw;
    }
   
  
  
}


@media screen and (min-width: 834px) and (max-width: 1280px) 
{
        
    .section-ahmad{
        width: 88.26vw;
        margin: 0 auto;
    }
    .article {
        margin-left: 2.56vw;
    }
    .what-we-know {
        font-family: "Roboto Slab", serif;
        font-size: 3.81vw;
        font-weight: 700;
    }
    ul {
        width: 48.54vw;
        height: 25.97vw;
        margin-left: 1.38vw;
        margin-top: 3.81vw;
        margin-bottom: 17.22vw;
    }
    li {
        font-family: "Roboto", sans-serif;
        font-size: 1.66vw;
        font-weight: 400;
        line-height: 2.5vw; 
    }
    .course-program {
        font-family: "Roboto Slab", serif;
        font-size: 3.81vw;
        font-weight: 700;
        margin-bottom: 6.59vw;
    }
    .parent {
        width: 100%;
        height: 74.3vw;
        display: flex;
        flex-wrap: wrap;
    }
    .child {
        margin: 0px 0px 2.84vw;
        width: 27.70vw;
        height: 22.77vw;
        background-color: white;
        box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.25);
        border-radius: 2.08vw;
    }
    .margin {
        margin: 0px 2.56vw 2.84vw;
    }
    .child-img{
        width: 100%;
        height: 11.875vw;
    }
    img {
        width: 100%;
    }
    .child-header {
        font-family: "Roboto", sans-serif;
        font-size: 2.08vw;
        font-weight: 700;
        width: 25.34vw;
        height: 4.93vw;
        margin: 0px 0.97vw 0px 1.38vw;
    }
    .child-article {
        font-family: "Roboto", sans-serif;
        font-size: 1.73vw;
        font-weight: 400;
        width: 25.34vw;
        height: 5.97vw; 
        margin: 0px 0.97vw 0px 1.38vw;
    }
   
  
  
}


@media screen and (min-width: 320px) and (max-width: 834px) 
{
        
    .section-ahmad{
        width: 82.88vw;
        margin: 0 auto;
    }
    .article {
        margin-left: 1.03vw;
    }
    .what-we-know {
        font-family: "Roboto Slab", serif;
        height: 14.13vw;
        font-size: 6.93vw;
        font-weight: 700;
    }
    ul {
        width: 79.73vw;
        height: 46.4vw;
        margin-left: 2.13vw;
        margin-bottom: 22.66vw;
    }
    li {
        font-family: "Roboto", sans-serif;
        font-size: 3.2vw;
        font-weight: 400;
        line-height: 4.8vw; 
    }
    .course-program {
        font-family: "Roboto Slab", serif;
        font-size: 6.93vw;
        font-weight: 700;
        height: 21.06vw;
        margin-left: -0.53vw;
    }
    .parent {
        width: 49.57vw;
        height: 371vw;
        display: flex;
        flex-direction: column;
        margin-left: 16.77vw;
    }
    .child {
        margin: 0px 0px 6.44vw;
        width: 49.57vw;
        height: 40.75vw;
        background-color: white;
        box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.25);
        border-radius: 4vw;
    }
    .child-img{
        width: 100%;
    }
    img {
        width: 100%;
        height: 19.88vw;
    }
    .child-header {
        font-family: "Roboto", sans-serif;
        font-size: 3.73vw;
        font-weight: 700;
        width: 45.35vw;
        height: 8.82vw;
        margin: 0px 1.86vw 0px 2.36vw;
    }
    .child-article {
        font-family: "Roboto", sans-serif;
        font-size: 3.2vw;
        font-weight: 400;
        width: 45.35vw;
        height: 7.82vw; 
        margin: 0px 1.86vw 0px 2.36vw;
    }

}
